# Ignore CMake build directory
**/CMakeFiles
**/CMakeScripts
**/cmake_install.cmake
**/CMakeCache.txt
**/CMakeLists.txt.user
**/Testing
**/compile_commands.json
**/CTestTestfile.cmake
**/cmake-build-debug

# Ignore SQLite database files
*.db
lib/db/database.db

# Ignore SQLiteCpp submodule build directory
/SQLiteCpp/build

# Ignore CLion IDE files
.idea/
*.iml

# Ignore compiled files
*.o
*.so
*.a
*.out
*.exe

# Ignore core dumps
core

# Ignore log files
*.log

# Ignore temporary files
*~
*.swp
*.swo
*.tmp
*.bak
*.orig
*.rej